@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap");
header {
  background-image: linear-gradient(to bottom, #BEA6A0, lavender);
  font-family: "Uchen", serif;
  text-align: center;
}

footer {
  background-color: lavender;
  font-family: chocolate;
  display: flex;
  text-align: end;
}

.logo {
  height: 12%;
  width: 6%;
}

.inicio {
  background-attachment: fixed;
  background-image: url(../Multimedia/Imagenes/ceibo-logo_page-0001.jpg);
  border: 10px solid #e4cdcd;
  color: brown;
  text-align: center;
  font-family: "Castoro", serif;
  font-weight: 100;
  line-height: 5;
  margin: 5%;
  padding: 10%;
}

.bgcolor {
  background-color: #e4cdcd;
}

.tienda {
  background-color: peachpuff;
  border: 10px solid #e4cdcd;
  margin: 5%;
  padding: 10%;
  color: brown;
  text-align: center;
  font-family: "Castoro", serif;
}

.grid-1 {
  display: grid;
  grid-auto-rows: 200px;
  grid-gap: 1rem;
  grid-auto-flow: row dense;
}

.grid-1_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1.2 s ease;
  -moz-transition: 1.2s ease;
  /* Firefox */
  -webkit-transition: 1.2s ease;
  /* Chrome - Safari */
  -o-transition: 1.2s ease;
  /* Opera */
}

.grid-1_image:hover {
  transform: scale(0.2);
  -moz-transform: scale(2);
  /* Firefox */
  -webkit-transform: scale(2);
  /* Chrome - Safari */
  -o-transform: scale(2);
  /* Opera */
  -ms-transform: scale(2);
  /* IE9 */
}

@media all and (min-width: 320px) {
  .grid-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media all and (min-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media all and (min-width: 1024px) {
  .grid-1 {
    grid-template-columns: repeat(4, 1fr);
  }
}
.como-comprar {
  background-color: peachpuff;
  color: chocolate;
  font-family: "Castoro", serif;
  line-height: 2;
  margin: 5%;
  padding: 7%;
}

.accordion-button {
  background-color: #e4cdcd;
}

.accordion-item {
  background-color: peachpuff;
}

.nosotras {
  background-attachment: fixed;
  background-image: url(../Multimedia/Imagenes/nosotras-ceibo-1.jpg);
  border: 10px solid #e4cdcd;
  margin: 5%;
  padding: 10%;
  color: brown;
  font-family: "Castoro", serif;
  text-align: center;
  line-height: 2;
  font-size: 95%;
}

.nos {
  background-color: #e4cdcd;
}

.nos:hover {
  background-color: peachpuff;
  transition: height 2s;
}

.inspiraciones {
  background-color: peachpuff;
  color: brown;
  font-family: "Uchen", serif;
  text-align: center;
  line-height: 2;
  margin: 5%;
  padding: 2%;
}

* {
  margin: 0;
  padding: 0;
}

.background-color {
  background-color: #BDA69E;
}

/*# sourceMappingURL=style.css.map */
