@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap");
header {
  background-image: linear-gradient(to bottom, #BEA6A0, lavender);
  font-family: "Uchen", serif;
  text-align: center;
}

footer {
  text-transform: uppercase;
}

footer .footer__box {
  background-color: lavender;
}

footer .footer__box h3 {
  font-family: "Uchen", serif;
  text-align: center;
  color: brown;
  font-size: 1em;
  padding-bottom: 0.8em;
}

footer .footer__box .footer__box--map ul {
  padding-left: 0;
  text-align: center;
}

footer .footer__box .footer__box--map ul li {
  display: block;
  padding-left: 0;
}

footer .footer__box .footer__box--map ul li a {
  font-family: "Uchen", serif;
  color: brown;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-size: 0.6em;
}

footer .footer__box .footer__box--map ul li a:hover {
  color: brown;
  text-decoration: none;
}

footer .footer__box .footer__box--social {
  text-align: center;
}

footer .footer__box .footer__box--social .iconify {
  width: 50px;
  height: 50px;
  color: brown;
  margin: 1em;
  text-align: center;
}

footer .footer__box .footer__box--social .iconify:hover {
  color: brown;
  text-decoration: none;
}

footer .footer__box .footer__box--logo {
  text-align: center;
}

footer .footer__box .footer__box--logo .img-fluid {
  width: 70%;
}

.logo {
  height: 16%;
  width: 8%;
}

.copyrigth-footer {
  font-family: "Uchen", serif;
  font-size: 80%;
  color: brown;
}

.inicio {
  background-attachment: fixed;
  background-image: url(../Multimedia/Imagenes/ceibo-logo_page-0001.jpg);
  border: 10px solid #e4cdcd;
  color: brown;
  text-align: center;
  font-family: "Castoro", serif;
  font-weight: 100;
  line-height: 5;
  margin: 5%;
  padding: 10%;
}

.bgcolor {
  background-color: #e4cdcd;
}

.tienda {
  background-color: peachpuff;
  border: 10px solid #e4cdcd;
  margin: 5%;
  padding: 10%;
  color: brown;
  text-align: center;
  font-family: "Castoro", serif;
}

.grid-1 {
  display: grid;
  grid-auto-rows: 200px;
  grid-gap: 1rem;
  grid-auto-flow: row dense;
}

.grid-1_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1.2 s ease;
  -moz-transition: 1.2s ease;
  /* Firefox */
  -webkit-transition: 1.2s ease;
  /* Chrome - Safari */
  -o-transition: 1.2s ease;
  /* Opera */
}

.grid-1_image:hover {
  transform: scale(0.2);
  -moz-transform: scale(2);
  /* Firefox */
  -webkit-transform: scale(2);
  /* Chrome - Safari */
  -o-transform: scale(2);
  /* Opera */
  -ms-transform: scale(2);
  /* IE9 */
}

@media all and (min-width: 320px) {
  .grid-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media all and (min-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media all and (min-width: 1024px) {
  .grid-1 {
    grid-template-columns: repeat(4, 1fr);
  }
}
.como-comprar {
  background-color: peachpuff;
  color: chocolate;
  font-family: "Castoro", serif;
  line-height: 2;
  margin: 5%;
  padding: 7%;
}

.accordion-button {
  background-color: #e4cdcd;
}

.accordion-item {
  background-color: peachpuff;
}

.nosotras {
  background-attachment: fixed;
  background-image: url(../Multimedia/Imagenes/nosotras-ceibo-1.jpg);
  border: 10px solid #e4cdcd;
  margin: 5%;
  padding: 10%;
  color: brown;
  font-family: "Castoro", serif;
  text-align: center;
  line-height: 2;
  font-size: 95%;
}

.nos {
  background-color: #e4cdcd;
}

.nos:hover {
  background-color: peachpuff;
  transition: height 2s;
}

.inspiraciones {
  background-color: peachpuff;
  color: brown;
  font-family: "Uchen", serif;
  text-align: center;
  line-height: 2;
  margin: 5%;
  padding: 2%;
}

.titulo-formulario {
  color: chocolate;
  background-color: lavender;
  font-family: "Castoro", serif;
  font-size: large;
  text-align: center;
  font-weight: 75%;
  margin: 5%;
  padding: 10%;
}

label {
  display: block;
  margin-top: 20px;
  letter-spacing: 1px;
}

.formulario {
  display: block;
  margin: 0 auto;
  width: 510px;
  background-color: lavender;
  color: #666666;
  font-family: "Uchen", serif;
}

form {
  margin: 0 auto;
  width: 400px;
  font-family: "Uchen", serif;
}

.wrap {
  margin: 5%;
  width: 10%;
  height: auto;
}

.sub a {
  color: chocolate;
  background: #e4cdcd;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 65%;
  font-family: "Uchen", serif;
  font-weight: bold;
}

/*TRANSICIÓN FOCUS*/
input {
  width: 100px;
  height: 100px;
  transition: all 2s;
}

input:focus {
  width: 200px;
  font-size: 24px;
}

/*FIN DE TRANSICIÓN FOCUS*/
input,
textarea {
  width: 380px;
  height: 27px;
  background-color: lavender;
  border: 2px solid #f6f6f6;
  padding: 10px;
  margin-top: 5px;
  font-size: 8px;
  color: #ffffff;
}

textarea {
  height: 180px;
}

#submit {
  width: 85px;
  height: 35px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

/*Fin de contacto.html*/
* {
  margin: 0;
  padding: 0;
}

.background-color {
  background-color: #BDA69E;
}

/*# sourceMappingURL=style.css.map */
