@import 'estilos/colores';
@import 'estilos/fuentes'; 
@import 'componentes/header';
@import 'componentes/footer';
@import 'funciones/display';
@import 'secciones/inicio';
@import 'secciones/tienda';
@import 'secciones/como-comprar';
@import 'secciones/nosotras';
@import 'secciones/inspiraciones';
@import 'secciones/contacto';




* {
    margin: 0;
    padding: 0;
}
  .background-color {
    background-color: $background-ppl;
  }
  
 
