@import '../estilos/colores'; 
@import '../estilos/fuentes';

.inicio {
    background-attachment: fixed;
    background-image: url(../Multimedia/Imagenes/ceibo-logo_page-0001.jpg);
    border: 10px solid $background-section1;
    color: $texto-secundario;
    text-align: center;
    font-family: $texto;
    font-weight: 100;
    line-height: 5;
    margin: 5%;
    padding: 10%;
}

.bgcolor {
    background-color: rgb(228, 205, 205);
}