@import '../estilos/colores';
@import '../estilos/fuentes';

.inspiraciones {
    background-color: $background-section;
    color: $texto-secundario;
    font-family: $titulos;
    text-align: center;   
    line-height: 2;
    font-size: 95%;
    margin: 5%;
    padding: 5%;
}
    
