$bg-header-menu: linear-gradient(to bottom, #BEA6A0, lavender);
$texto-principal: chocolate;
$texto-secundario: brown;
$background-ppl:#BDA69E;
$background-section: peachpuff;
$background-section1: rgb(228, 205, 205); 
$background-footer: lavender;

