$bg-header-menu: linear-gradient(to bottom, #BEA6A0, lavender);
$texto-principal: chocolate;
$texto-secundario: brown;
$background-section: rgb(172, 125, 83);
$background-section1: rgb(228, 205, 205); 
$background-footer: lavender;

