@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap');

$texto: 'Castoro', serif;
$titulos: 'Uchen', serif;

//listas
$font-size: 18rem, 15rem, 12rem; 
