@import "../estilos/fuentes";
@import "../estilos/colores";


footer {
   background-color: $background-footer;
   font-family: $texto-principal;
   display: flex;
   text-align: end;
}

.logo {
   height: 12%;
   width: 6%;
}