@import "../Estilos/padding";
@import "../Estilos/colores";
@import "../Estilos/fuentes";

@mixin tamaño-logo ($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

header {
    background-image: $bg-header-menu;
    position: sticky;
    top: 0px;
    z-index: 25;

    .menu {
        background-image: $bg-header-menu;

        a {
            font-family: $enlaces;
            text-decoration: none;
        }
    }

}

.logo {
    @include tamaño-logo(100px, 100px)
}
